<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        


        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
        <script src="~/ir/base/ir.app.js"></script>
        <script src="~/ir/base/ir.spa.t5.js"></script>
    </head>
    <body ng-app="irapp">
        ir系統
            @RenderBody()
    </body>
</html>
