@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/apps/lab/lab01/lab01.c.js"></script>

<div ng-controller="lab01c">

    <div ng-view></div>

</div>